/* header section start */
.banner-bg-color{
    background: #264653;
}
.btn-bg-color{
   background-color: #e76f51; 
}
/* featured bike section */
.margin::after{
  content: '';
  background-color: #de3545;
  height: 2px;
  width: 5%;
  display: block;
  text-align: center;
  margin: auto;
  margin-bottom: 100px;

}
/* gray scale section */
.img-gray-scale {
    filter: gray;
    -webkit-filter: grayscale(1); 
    filter: grayscale(1);
  }
img:hover {
    -webkit-filter: grayscale(0);
    filter: none;
    cursor: pointer;
    transition: .3s;
  }
  /* happy clients section */
  span{
     color: #e76f51; 
  }
  .fa-star{
      color: #e76f51;
  }
 /* bike gallery */
 .transition-hover{
  display: block;
  transition: transform .3s;
 }
 .transition-hover:hover{
  transform: rotate(360deg)
  
 }
 